<div class="person-information-container">
  <p class="bold">Show Information</p>
  <div class="information-container">
    <ng-container *ngIf="person">
      <div class="row">
        <p class="bold right">Name:</p>
        <p>{{person.name}}</p>
      </div>
      <div class="row">
        <p class="bold right">Height:</p>
        <p>{{person.height}}</p>
      </div>
      <div class="row">
        <p class="bold right">Mass:</p>
        <p>{{person.mass}}</p>
      </div>
      <div class="row">
        <p class="bold right">Skin color:</p>
        <p>{{person.skin_color}}</p>
      </div>
      <div class="row">
        <p class="bold right">Birth year:</p>
        <p>{{person.birth_year}}</p>
      </div>
      <div class="row">
        <p class="bold right">Hair color:</p>
        <p>{{person.hair_color}}</p>
      </div>
      <div class="row">
        <p class="bold right">Eye color:</p>
        <p>{{person.eye_color}}</p>
      </div>
    </ng-container>
  </div>
</div>
