.content {
  display: grid;
  place-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
.main-container {
  display: grid;
  width: 100%;
  max-width: 770px;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.left-side {
  display: grid;
  align-items: center;
  gap: 16px;
}

.right-side {
  padding-top: 60px;
}

@media screen and (max-width: 770px) {
  .content {
    padding: 24px;
    box-sizing: border-box;
    display: block;
  }
  .main-container {
    gap: 20px;
    max-width: unset;
    grid-template-columns: 1fr;
  }

  .right-side {
    padding-top: 0px;
  }
}
